<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
  <h2>Login</h2>
  <form action="/login" method="POST">
    <input type="text" id="username" name="username" placeholder="Usuário" required><br>
    <input type="password" name="pin" inputmode="numeric" pattern="[0-9]*" placeholder="PIN" required><br>
    <button type="submit">Entrar com PIN</button>
  </form>
  <button onclick="loginBiometria()">Entrar com Biometria</button>
  <a href="/cadastro">Cadastrar novo usuário</a>
</body>
</html>